<% layout('layouts/boilerplate') -%>
<!-- <%- include('../partials/navbar.ejs')%> -->

<section class="container">
<%- include('../partials/flash.ejs')%>

<section id="heading">
  <h4 class="display-4"><i class="fab fa-shopify" style="margin-right: 20px;"></i></h4>
</section>
    <div class="row products">
        <% for(let product of products){ %>
            <div class="col-lg-3 col-md-6 mb-3">
                <div class="card shadow-sm mx-auto position-relative" style="width: 20rem;">
                    <img src="<%=product.img%>" class="card-img-top" alt="item image">
                    <div class="card-body">
                      <h5 class="card-title d-flex justify-content-between align-items-center">
                        <span><%= product.name %></span>
                        <span class="btn like-btn" product-id="<%=product._id%>">
                          <% if(currentUser && currentUser.wishList && currentUser.wishList.includes(product._id)){ %>
                            <i class="fas fa-heart"></i> 
                            <!-- fas is RED HEART -->
                          <% }else{ %>
                            <i class="far fa-heart"></i>
                            <!-- far is NORMAL HEART -->
                          <% } %>
                        </span>
                      </h5>
                      <p class="card-text fw-light"><%=product.desc%></p>
                      <% if(product.reviews.length){ %>
                        <p class="text-muted"><%=product.reviews.length%>Reviews</p>
                      <% }else{ %>
                        <p class="text-muted">No Reviews</p>
                      <% } %>
                      <h6 class="card-title"><span class="fw-lighter fs-6 text-decoration-line-through">Rs.<%= product.price*2 %></span></h6>
                      <a href="/products/<%=product._id%>" class="btn btn-success btn-sm show-btn">View Now</a>
                    </div>
                  </div>
            </div>
      <% } %>
    </div>
</section>

<script src="/js/common.js"></script>